<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Rewrite rules for clean URLs (Laravel routing) -->
        <rewrite>
            <rules>
                <rule name="Laravel" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <!-- Static content configuration (CSS, JS, images) -->
        <staticContent>
            <!-- Make sure the MIME types for static content are correctly defined -->
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
            <mimeMap fileExtension=".otf" mimeType="application/font-otf" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".gif" mimeType="image/gif" />
        </staticContent>

        <!-- Enable directory browsing if needed -->
        <!-- <directoryBrowse enabled="false" /> -->
    </system.webServer>
</configuration>
