
html,
body {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
    /* Prevent default scrolling */
}

body {
    display: flex;
    flex-direction: column;
}

.blog-pagination nav p, .magazine-pagination  nav p {
  display: none;
}

.read-blog .blog-content > p:not(:has(> strong)) {
  padding: 0;
  margin: 0;
}
.read-blog .blog-content > p:has(> strong) {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
}

.blog-content-summary strong, .blog-content-summary b {
  font-weight: normal !important;
}