* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}
.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 200vh;
    scroll-behavior: smooth;
}
.blog-pagination nav p, .magazine-pagination  nav p {
  display: none;
}

.read-blog .blog-content > p:not(:has(> strong)) {
  padding: 0;
  margin: 0;
}
.read-blog .blog-content > p:has(> strong) {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
}

.blog-content-summary strong, .blog-content-summary b {
  font-weight: normal !important;
}

.hero-section{
  position: relative;
  margin-top: 3.5rem;
  width: 100.5%;    
  height: 15rem;    
  left: 50%;           
  margin-left: -50vw;
}

@media (max-width: 768px) {
  .hero-section{
    margin-top: 4rem;
    width: 100.5%;    
    height: 15rem;    
    left: 46%;           
    margin-left: -50vw;
  }
}